/* src/styles/base.css */

:root {
    /* Color Palette */
    --color-sidebar-bg: #1A1A1A;     
    --color-main-bg: #121212;        
    --color-card-bg: #242424;         
    --color-primary-text: #FFFFFF;    
    --color-secondary-text: #AAAAAA;  
    --color-accent: #9B59B6;          
    --color-hover: #333333;           

    /* Layout Variables */
    --sidebar-width: 250px;
}

body {
    background-color: var(--color-main-bg);
    color: var(--color-primary-text);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    
    height: 100vh;
    overflow: hidden; 
}

a {
    color: var(--color-primary-text);
    text-decoration: none;
}